* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.menu-container {
    min-height: 4rem;
    display: flex;
    font-family: geo;
    background-color: #fff;
}

.excel-logo {
    display: grid;
    place-items: center;
}

.logo {
    width: 4rem;
    height: 3rem;
}

.menu {
    color: #000;
    display: flex;
    width: calc(100vw - 4rem);
}

.menu>* {
    padding: 8px 12px;
    margin-top: 0.5rem;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.menu>*:hover{
    background-color: lightgreen;
}

.brt {
    border-right: 2px solid #b8b8b8;
}

p {
    cursor: pointer;
}

select {
    border: none;
    cursor: pointer;
}

select:hover {
    background-color: lightgreen;
}

.menu-features {
    display: flex;
}

.fonts {
    margin-right: 1rem;
}

option {
    padding: 5px;
    background-color: #fff;
}

option[value="Arial"] {
    font-family: Arial, Helvetica, sans-serif;
}

option[value="Cambria"] {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

option[value="Georgia"] {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

option[value="monospace"] {
    font-family: monospace;
}

option[value="sans-serif"] {
    font-family: sans-serif;
}

option[value="fantasy"] {
    font-family: fantasy;
}

option[value="Calibri"] {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

option[value="Courier New"] {
    font-family: 'Courier New', Courier, monospace;
}

option[value="Lucida Sans"] {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

option[value="cursive"] {
    font-family: cursive;
}


.font-style {
    display: flex;
    padding: 0 10px;
}

.biu {
    width: 2.5rem;
    cursor: pointer;
    height: inherit;
    padding: 5px;
    margin-right: 2px;
    display: grid;
    place-items: center;
}

.biu:hover {
    color: green;
}

.biu-active-btn {
    background-color: lightgreen;
}

.colors {
    display: grid;
    grid-template-columns: 2.5rem 2.5rem;
    place-items: center;
}

.color,
.bg-color {
    margin-left: 0.5rem;
    padding: 0;
    border: none;
}

.alignment {
    margin-left: 1rem;
    height: inherit;
}

.alignment>* {
    font-size: 20px;
    width: 2rem;
    color: #505050;
}

.alignment>*:hover {
    cursor: pointer;
}

.alignment-active {
    color: green;
    font-size: 22px;
}

.formula-container {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.formula-container>* {
    height: 70%;
}

.address-feild {
    width: 4rem;
    display: grid;
    font-weight: bold;
    place-items: center;
}

.formula-feild {
    width: calc(100vw - 6rem);
}



.grid-container {
    height: calc(100vh - (4rem + 2rem + 4rem));
    overflow: auto;
    position: relative;
}

.box {
    width: 2rem;
    height: 1.5rem;
    border: 1px solid #bebebe;
    display: grid;
    background-color: lightgray;
    place-items: center;
}

.left-box {
    background-color: lightgray;
    border: none;
}

.top-row {
    position: absolute;
    top: 0;
    left: 2rem;
    background-color: lightgray;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.each-top-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    min-width: 5rem;
    min-height: 1.5rem;
    border: 1px solid #c3c3c3;
    font-size: 16px;
}

.cell:hover {
    cursor: cell;
    border: 2px solid lightgreen;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
    border: 2px solid green;
}

.row {
    display: flex;
}

.grid {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    overflow: auto;
}

.grid-container::-webkit-scrollbar {
    display: none;
}

.grid-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sheets-container {
    height: 2rem;
    background-color: lightgrey;
    display: flex;
}

.add_sheets_btn-container {
    display: grid;
    place-items: center;
    width: 3rem;
    color: #00ac00;
    font-size: 20px;
    height: 100%;
    cursor: pointer;
}

.sheets-list {
    width: calc(100vw - 3rem);
    height: 100%;
    border-left: 1px solid rgb(70, 70, 70);
    display: flex;
    overflow: auto;
}

.sheets-list::-webkit-scrollbar {
    display: none;
}

.sheets-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sheet {
    min-width: 5rem;
    border-right: 1px solid rgb(70, 70, 70);
    height: 100%;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.644);
    text-align: center;
    padding-top: 5px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sheet:hover {
    font-weight: 800;
}

.active {
    border: none;
    border-right: 1px solid rgb(70, 70, 70);
    border-bottom: 3px solid green;
    background-color: #fff;
    font-weight: 800;
    color: green;
}